body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 0;
  }

  h1 {
    color: #333;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  img{
    background-color: #fff;
    text-align: center;
    margin: 20px;
  }

  ul {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }